accelerate==0.31.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs @ file:///croot/attrs_1695717823297/work
backcall==0.2.0
bleach==6.0.0
blis==0.7.11
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
catalogue==2.0.10
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.15.1
charset-normalizer==3.1.0
click @ file:///croot/click_1698129812380/work
cloudpathlib==0.16.0
cmake==3.26.4
comm==0.1.3
confection==0.1.4
country-converter @ file:///home/conda/feedstock_root/build_artifacts/country_converter_1702421567167/work
cryptography @ file:///croot/cryptography_1710350347627/work
cymem==2.0.8
dataclasses-json==0.6.4
datasets==2.12.0
debugpy==1.6.7
dill==0.3.6
distro==1.9.0
elasticsearch @ file:///home/conda/feedstock_root/build_artifacts/elasticsearch_1643741867837/work
evaluate==0.4.0
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.8.0
fastjsonschema==2.17.1
fasttext==0.9.2
filelock @ file:///croot/filelock_1700591183607/work
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.22.0
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==6.6.0
ipykernel==6.23.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.31
lit==16.0.5.post0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib-inline==0.1.6
mistune==2.0.5
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==1.14.3
orjson==3.9.15
overrides==7.3.1
packaging==23.2
pandas @ file:///croot/pandas_1709590491089/work/dist/pandas-2.2.1-cp39-cp39-linux_x86_64.whl#sha256=c2fe2574e63acef055e68e1e22d04943804291b7fe3a39b832edfd1b87570954
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
phonenumbers @ file:///tmp/build/80754af9/phonenumbers_1626154302581/work
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.5.3
preshed==3.0.9
prometheus-client==0.17.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pybind11==2.10.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz @ file:///croot/pytz_1695131579487/work
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
regex==2023.6.3
requests @ file:///croot/requests_1707355572290/work
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
sacremoses==0.1.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.2.0
seqeval==1.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open==6.4.0
sniffio==1.3.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.29
srsly==2.4.8
stack-data==0.6.2
sympy==1.12
tenacity==8.2.3
terminado==0.17.1
thinc==8.2.3
threadpoolctl==3.1.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.10.3
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.3.2
tqdm==4.66.2
traitlets==5.9.0
transformers==4.12.5
triton==2.2.0
typer==0.9.4
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
uri-template==1.2.0
urllib3 @ file:///croot/urllib3_1698257533958/work
wasabi==1.1.2
wcwidth==0.2.6
weasel==0.3.4
webcolors==1.13
websocket-client==1.5.3
widgetsnbextension==4.0.7
xxhash==3.2.0
yarl==1.9.2
